body{
   font-family:  Arial;
    font-size: 20px;
    margin-left: 5%;
    background:  rgba(54, 21, 21, 0.68);
    
}
h1, h2{
    color:rgb(255, 128, 0);
    
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
h3{
   color: rgb(255, 128, 0);
}
p{
    text-align: justify;
}
p img{
  width: 340px;
    height: 300px;
    border-radius: 5px;
}
p{
    color: black;
}
p strong{
    color:#58ff00;
}